name: CD - ECS Blue Green Deployment

on:
  workflow_run:
    workflows: ["CI - Build & Push to ECR"]
    types:
      - completed

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: strapi-bluegreen
  TASK_DEFINITION_FAMILY: bluegreen-app-task
  CONTAINER_NAME: strapi-container
  CONTAINER_PORT: 1337
  CODEDEPLOY_APPLICATION: strapi-bluegreen-app
  CODEDEPLOY_DEPLOYMENT_GROUP: strapi-bluegreen-deployment-group
  S3_BUCKET: noor-terraform-state

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Wait for ECR Image
        run: sleep 30

      - name: Get AWS Account ID
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "ACCOUNT_ID=$ACCOUNT_ID" >> $GITHUB_ENV

      - name: Set Image URI
        run: |
          IMAGE_URI=$ACCOUNT_ID.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${{ github.event.workflow_run.head_sha }}
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - name: Fetch Task Definition
        run: |
          aws ecs describe-task-definition \
          --task-definition $TASK_DEFINITION_FAMILY \
          --query taskDefinition > task-def.json

      - name: Update Image
        run: |
          jq --arg IMAGE "$IMAGE_URI" \
          '.containerDefinitions[0].image=$IMAGE |
          del(.taskDefinitionArn,.revision,.status,.requiresAttributes,.compatibilities,.registeredAt,.registeredBy)' \
          task-def.json > new-task-def.json

      - name: Register Task Definition
        run: |
          NEW_TASK_DEF_ARN=$(aws ecs register-task-definition \
          --cli-input-json file://new-task-def.json \
          --query "taskDefinition.taskDefinitionArn" \
          --output text)

          echo "NEW_TASK_DEF_ARN=$NEW_TASK_DEF_ARN" >> $GITHUB_ENV

      - name: Create AppSpec
        run: |
          cat > appspec.json << EOF
          {
            "version": 1,
            "Resources": [
              {
                "TargetService": {
                  "Type": "AWS::ECS::Service",
                  "Properties": {
                    "TaskDefinition": "${NEW_TASK_DEF_ARN}",
                    "LoadBalancerInfo": {
                      "ContainerName": "${CONTAINER_NAME}",
                      "ContainerPort": ${CONTAINER_PORT}
                    }
                  }
                }
              }
            ]
          }
          EOF

      - name: Upload AppSpec to S3
        run: |
          aws s3 cp appspec.json s3://${S3_BUCKET}/appspec.json

      - name: Trigger CodeDeploy Deployment
        id: deploy
        run: |
          DEPLOYMENT_ID=$(aws deploy create-deployment \
          --application-name $CODEDEPLOY_APPLICATION \
          --deployment-group-name $CODEDEPLOY_DEPLOYMENT_GROUP \
          --deployment-config-name CodeDeployDefault.ECSCanary10Percent5Minutes \
          --revision revisionType=S3,s3Location="{bucket=${S3_BUCKET},key=appspec.json,bundleType=JSON}" \
          --query "deploymentId" \
          --output text)

          echo "deployment_id=$DEPLOYMENT_ID" >> $GITHUB_OUTPUT

      - name: Wait Deployment
        run: |
          aws deploy wait deployment-successful \
          --deployment-id ${{ steps.deploy.outputs.deployment_id }}

      - name: Rollback if Failed
        if: failure()
        run: |
          aws deploy stop-deployment \
          --deployment-id ${{ steps.deploy.outputs.deployment_id }}